In [ ]:
 #install fuzzywuzzy
!pip install fuzzywuzzy
!pip install openpyxl

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

import fuzzywuzzy as fw
from fuzzywuzzy import process
import openpyxl as op

/home/tarun/.local/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# odisha
df1 = pd.read_excel('India_AC_shapefile.xlsx')
df1.head()
# read sheet 2 of goa masterlist
df2 = pd.read_excel('kerala_masterlist.xlsx', sheet_name=0)
# df2 = pd.read_excel('goa_masterlist.xlsx')
df2.rename(columns={'Cleaned': 'cleaned'}, inplace=True)
df2.rename(columns={'assembly constituency': 'AC_NAME'}, inplace=True)
df2.rename(columns={'File Status': 'File Status'}, inplace=True)
df2.rename(columns={'Error Comment': 'Error Comment'}, inplace=True)
df2.rename(columns={'year': 'year'}, inplace=True)

df2.head()



def find_fuzzy_match(name, choices):
    if not name:
        return None
    result = process.extractOne(name, choices)
    if result:
        return result[0]
    else:
        return None

# Create a mapping dictionary for rows in df2
ac_name_mapping = {row['AC_NAME']: row for idx, row in df2.iterrows()}

# Filter df1 for rows with ST_NAME "GOA" and map columns from df2 based on fuzzy matching
df1_state = df1[df1['ST_NAME'] == 'KERALA'].copy()  # Filter rows where ST_NAME is "ODISHA"
print(df1_state)
df1_state['Downloaded'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Downloaded'])
df1_state['year'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['year'])
df1_state['Converted'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Converted'])
df1_state['cleaned'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['cleaned'])
df1_state['File Status'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['File Status'])
df1_state['Error Comment'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Error Comment'])
df1_state['election'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['election'])
df1_state['Note'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Note'])


df1_state.to_excel('kerala vs 2016.xlsx', index=False)

/home/tarun/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

     FID  OBJECTID  ST_CODE ST_NAME  DT_CODE           DIST_NAME  AC_NO  \
300  300         1       32  KERALA        1           KASARAGOD      1
301  301         1       32  KERALA        1           KASARAGOD      2
302  302         1       32  KERALA        1           KASARAGOD      3
303  303         1       32  KERALA        1           KASARAGOD      4
304  304         1       32  KERALA        1           KASARAGOD      5
..   ...       ...      ...     ...      ...                 ...    ...
436  436        19       32  KERALA       14  THIRUVANANTHAPURAM    138
437  437        20       32  KERALA       14  THIRUVANANTHAPURAM    134
438  438        20       32  KERALA       14  THIRUVANANTHAPURAM    135
439  439        20       32  KERALA       14  THIRUVANANTHAPURAM    140
440  440        20       32  KERALA       14  THIRUVANANTHAPURAM    139

               AC_NAME  PC_NO            PC_NAME  PC_ID STATUS  Shape_Leng  \
300        Ma njeshwar      1          KASARAGOD   3201           1.410264
301          Kasaragod      1          KASARAGOD   3201           1.034167
302               Udma      1          KASARAGOD   3201           1.406039
303          Kanhangad      1          KASARAGOD   3201           1.528040
304         Trikaripur      1          KASARAGOD   3201           1.136716
..                 ...    ...                ...    ...    ...         ...
436         Kattakkada     19           ATTINGAL   3219           0.468540
437  Thiruvananthapura     20  THIRUVANANTHAPURA   3220           0.305444
438              Nemom     20  THIRUVANANTHAPURA   3220           0.310675
439      Neyyattinkara     20  THIRUVANANTHAPURA   3220           0.559829
440            Kovalam     20  THIRUVANANTHAPURA   3220           0.504260

     Shape_Area
300    0.031505
301    0.023007
302    0.038270
303    0.044015
304    0.027416
..          ...
436    0.009321
437    0.003305
438    0.003031
439    0.007676
440    0.007109

[141 rows x 14 columns]

In [3]:
# odisha
df1 = pd.read_excel('India_AC_shapefile.xlsx')
df1.head()
# read sheet 2 of goa masterlist
df2 = pd.read_excel('kerala_masterlist.xlsx', sheet_name=1)
# df2 = pd.read_excel('goa_masterlist.xlsx')
df2.rename(columns={'Cleaned': 'cleaned'}, inplace=True)
df2.rename(columns={'assembly constituency': 'AC_NAME'}, inplace=True)
df2.rename(columns={'File Status': 'File Status'}, inplace=True)
df2.rename(columns={'Error Comment': 'Error Comment'}, inplace=True)
df2.rename(columns={'year': 'year'}, inplace=True)


df2.head()



def find_fuzzy_match(name, choices):
    if not name:
        return None
    result = process.extractOne(name, choices)
    if result:
        return result[0]
    else:
        return None

# Create a mapping dictionary for rows in df2
ac_name_mapping = {row['AC_NAME']: row for idx, row in df2.iterrows()}

# Filter df1 for rows with ST_NAME "GOA" and map columns from df2 based on fuzzy matching
df1_state = df1[df1['ST_NAME'] == 'KERALA'].copy()  # Filter rows where ST_NAME is "ODISHA"
print(df1_state)
df1_state['Downloaded'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Downloaded'])
df1_state['year'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['year'])
df1_state['Converted'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Converted'])
df1_state['cleaned'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['cleaned'])
df1_state['File Status'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['File Status'])
df1_state['Error Comment'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Error Comment'])
df1_state['election'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['election'])
# df1_state['Interim'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Interim'])
df1_state['Note'] = df1_state['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Note'])


df1_state.to_excel('kerala vs 2021.xlsx', index=False)

/home/tarun/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

     FID  OBJECTID  ST_CODE ST_NAME  DT_CODE           DIST_NAME  AC_NO  \
300  300         1       32  KERALA        1           KASARAGOD      1
301  301         1       32  KERALA        1           KASARAGOD      2
302  302         1       32  KERALA        1           KASARAGOD      3
303  303         1       32  KERALA        1           KASARAGOD      4
304  304         1       32  KERALA        1           KASARAGOD      5
..   ...       ...      ...     ...      ...                 ...    ...
436  436        19       32  KERALA       14  THIRUVANANTHAPURAM    138
437  437        20       32  KERALA       14  THIRUVANANTHAPURAM    134
438  438        20       32  KERALA       14  THIRUVANANTHAPURAM    135
439  439        20       32  KERALA       14  THIRUVANANTHAPURAM    140
440  440        20       32  KERALA       14  THIRUVANANTHAPURAM    139

               AC_NAME  PC_NO            PC_NAME  PC_ID STATUS  Shape_Leng  \
300        Ma njeshwar      1          KASARAGOD   3201           1.410264
301          Kasaragod      1          KASARAGOD   3201           1.034167
302               Udma      1          KASARAGOD   3201           1.406039
303          Kanhangad      1          KASARAGOD   3201           1.528040
304         Trikaripur      1          KASARAGOD   3201           1.136716
..                 ...    ...                ...    ...    ...         ...
436         Kattakkada     19           ATTINGAL   3219           0.468540
437  Thiruvananthapura     20  THIRUVANANTHAPURA   3220           0.305444
438              Nemom     20  THIRUVANANTHAPURA   3220           0.310675
439      Neyyattinkara     20  THIRUVANANTHAPURA   3220           0.559829
440            Kovalam     20  THIRUVANANTHAPURA   3220           0.504260

     Shape_Area
300    0.031505
301    0.023007
302    0.038270
303    0.044015
304    0.027416
..          ...
436    0.009321
437    0.003305
438    0.003031
439    0.007676
440    0.007109

[141 rows x 14 columns]

In [4]:
# goa for bye-election 
df1 = pd.read_excel('India_AC_shapefile.xlsx')
df1.head()
# read sheet 2 of goa masterlist
df2 = pd.read_excel('kerala_masterlist.xlsx', sheet_name=2)
df2.rename(columns={'assembly constituency': 'AC_NAME'}, inplace=True)

# df2 = pd.read_excel('goa_masterlist.xlsx')
df2.head()
print(df2)


def find_fuzzy_match(name, choices):
    if not name:
        return None
    result = process.extractOne(name, choices)
    if result:
        return result[0]
    else:
        return None

# Create a mapping dictionary for rows in df2
ac_name_mapping = {row['AC_NAME']: row for idx, row in df1.iterrows()}

# Filter df1 for rows with ST_NAME "GOA" and map columns from df2 based on fuzzy matching
df1_state = df1[df1['ST_NAME'] == 'KERALA'].copy()  # Filter rows where ST_NAME is "GOA"
print(df1_state)




df2['FID'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['FID'])
df2['OBJECTID'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['OBJECTID'])
df2['ST_CODE'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['ST_CODE'])
df2['ST_NAME'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['ST_NAME'])
df2['DT_CODE'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['DT_CODE'])
df2['DIST_NAME'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['DIST_NAME'])
df2['AC_NO'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['AC_NO'])
df2['PC_NO'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['PC_NO'])
df2['PC_NAME'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['PC_NAME'])
df2['PC_ID'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['PC_ID'])
df2['STATUS'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['STATUS'])
df2['Shape_Leng'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['Shape_Leng'])
df2['Shape_Area'] = df2['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df1_state['AC_NAME'])]['Shape_Area'])

# drop AC no
df2.drop(['AC no'], axis=1, inplace=True)
df2.drop(['State'], axis=1, inplace=True)

# print(df1)
df2.to_excel('KERALA bye.xlsx', index=False)

/home/tarun/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

   election  year  AC no   State        AC_NAME  Downloaded  Converted  \
0     VS_be  2017     41  kerala        vengara           1          1
1     VS_be  2018    110  kerala     Chengannur           1          1
2     VS_be  2019     93  kerala           Pala           1          1
3     VS_be  2019      1  kerala   Manjeshwaram           1          1
4     VS_be  2019    102  kerala          Aroor           1          1
5     VS_be  2019     82  kerala      Ernakulam           1          1
6     VS_be  2019    114  kerala          Konni           1          1
7     VS_be  2019    133  kerala  Vattiyoorkavu           1          1
8     VS_be  2022     83  kerala    Thrikkakara           0          0
9     VS_be  2021    106  kerala       Kuttanad           0          0
10    VS_be  2021    107  kerala        Haripad           0          0

    Cleaned     File Status   Error Comment  \
0         1    file cleaned  data available
1         1    file cleaned  data available
2         1    file cleaned  data available
3         1    file cleaned  data available
4         1    file cleaned  data available
5         1    file cleaned  data available
6         1    file cleaned  data available
7         1    file cleaned  data available
8         0  not downloaded             NaN
9         0  not downloaded             NaN
10        0  not downloaded             NaN

                                                 note
0   contestent name absent, have alpahbetical repr...
1   contestent name absent, have alpahbetical repr...
2   contestent name absent, have alpahbetical repr...
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
     FID  OBJECTID  ST_CODE ST_NAME  DT_CODE           DIST_NAME  AC_NO  \
300  300         1       32  KERALA        1           KASARAGOD      1
301  301         1       32  KERALA        1           KASARAGOD      2
302  302         1       32  KERALA        1           KASARAGOD      3
303  303         1       32  KERALA        1           KASARAGOD      4
304  304         1       32  KERALA        1           KASARAGOD      5
..   ...       ...      ...     ...      ...                 ...    ...
436  436        19       32  KERALA       14  THIRUVANANTHAPURAM    138
437  437        20       32  KERALA       14  THIRUVANANTHAPURAM    134
438  438        20       32  KERALA       14  THIRUVANANTHAPURAM    135
439  439        20       32  KERALA       14  THIRUVANANTHAPURAM    140
440  440        20       32  KERALA       14  THIRUVANANTHAPURAM    139

               AC_NAME  PC_NO            PC_NAME  PC_ID STATUS  Shape_Leng  \
300        Ma njeshwar      1          KASARAGOD   3201           1.410264
301          Kasaragod      1          KASARAGOD   3201           1.034167
302               Udma      1          KASARAGOD   3201           1.406039
303          Kanhangad      1          KASARAGOD   3201           1.528040
304         Trikaripur      1          KASARAGOD   3201           1.136716
..                 ...    ...                ...    ...    ...         ...
436         Kattakkada     19           ATTINGAL   3219           0.468540
437  Thiruvananthapura     20  THIRUVANANTHAPURA   3220           0.305444
438              Nemom     20  THIRUVANANTHAPURA   3220           0.310675
439      Neyyattinkara     20  THIRUVANANTHAPURA   3220           0.559829
440            Kovalam     20  THIRUVANANTHAPURA   3220           0.504260

     Shape_Area
300    0.031505
301    0.023007
302    0.038270
303    0.044015
304    0.027416
..          ...
436    0.009321
437    0.003305
438    0.003031
439    0.007676
440    0.007109

[141 rows x 14 columns]