In [11]:
 #install fuzzywuzzy
!pip install fuzzywuzzy
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fuzzywuzzy in /home/tarun/.local/lib/python3.10/site-packages (0.18.0)
Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 KB 439.7 kB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [13]:
import pandas as pd
import numpy as np
from pathlib import Path

import fuzzywuzzy as fw
from fuzzywuzzy import process
import openpyxl as op

In [52]:
df1 = pd.read_excel('India_AC_shapefile.xlsx')
df1.head()

,FID,OBJECTID,ST_CODE,ST_NAME,DT_CODE,DIST_NAME,AC_NO,AC_NAME,PC_NO,PC_NAME,PC_ID,STATUS,Shape_Leng,Shape_Area
0,0,1,13,NAGALAND,1,MON,41,Tizit,1,NAGALAND,1301,Pre delimitation,1.381854,0.055845
1,1,1,13,NAGALAND,1,MON,43,Tapi,1,NAGALAND,1301,Pre delimitation,1.056157,0.030387
2,2,1,13,NAGALAND,1,MON,42,Wakching,1,NAGALAND,1301,Pre delimitation,0.980303,0.018828
3,3,1,13,NAGALAND,2,TUENSANG,49,Tamlu,1,NAGALAND,1301,Pre delimitation,1.133296,0.021899
4,4,1,13,NAGALAND,3,MOKOKCHUNG,21,Tuli,1,NAGALAND,1301,Pre delimitation,0.965989,0.022397

In [53]:
df2 = pd.read_excel('goa_masterlist.xlsx')
df2.head()

,year,election,AC no,Sate,AC_NAME,Downloaded,Converted,cleaned,File Status,Error Comment
0,2017,vidhan sabha,1,Goa,Mandrem,1,1,1,file cleaned,NaN
1,2017,vidhan sabha,2,Goa,Pernem,1,1,1,file cleaned,NaN
2,2017,vidhan sabha,3,Goa,Bicholim,1,1,1,file cleaned,NaN
3,2017,vidhan sabha,4,Goa,Tivim,1,1,1,file cleaned,NaN
4,2017,vidhan sabha,5,Goa,Mapusa,1,1,1,file cleaned,NaN

In [57]:
def find_fuzzy_match(name, choices):
    if not name:
        return None
    result = process.extractOne(name, choices)
    if result:
        return result[0]
    else:
        return None

# Create a mapping dictionary for rows in df2
ac_name_mapping = {row['AC_NAME']: row for idx, row in df2.iterrows()}

# Filter df1 for rows with ST_NAME "GOA" and map columns from df2 based on fuzzy matching
df1_goa = df1[df1['ST_NAME'] == 'GOA'].copy()  # Filter rows where ST_NAME is "GOA"
print(df1_goa)
df1_goa['Downloaded'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Downloaded'])
df1_goa['year'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['year'])
df1_goa['Converted'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Converted'])
df1_goa['cleaned'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['cleaned'])
df1_goa['File Status'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['File Status'])
df1_goa['Error Comment'] = df1_goa['AC_NAME'].apply(lambda x: ac_name_mapping[find_fuzzy_match(x, df2['AC_NAME'])]['Error Comment'])

# map df1_goa to df1
df1.loc[df1_goa.index, 'year'] = df1_goa['year']
df1.loc[df1_goa.index, 'Downloaded'] = df1_goa['Downloaded']
df1.loc[df1_goa.index, 'Converted'] = df1_goa['Converted']
df1.loc[df1_goa.index, 'cleaned'] = df1_goa['cleaned']
df1.loc[df1_goa.index, 'File Status'] = df1_goa['File Status']
df1.loc[df1_goa.index, 'Error Comment'] = df1_goa['Error Comment']


# print(df1)
df1.to_excel('India_AC_shapefile_mapped.xlsx', index=False)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']

       FID  OBJECTID  ST_CODE ST_NAME  DT_CODE  DIST_NAME  AC_NO  \
1728  1728         1       30     GOA        1  NORTH GOA      2
1729  1729         1       30     GOA        1  NORTH GOA      1
1730  1730         1       30     GOA        1  NORTH GOA      3
1731  1731         1       30     GOA        1  NORTH GOA      4
1732  1732         1       30     GOA        1  NORTH GOA     18
1733  1733         1       30     GOA        1  NORTH GOA     19
1734  1734         1       30     GOA        1  NORTH GOA      6
1735  1735         1       30     GOA        1  NORTH GOA      5
1736  1736         1       30     GOA        1  NORTH GOA     16
1737  1737         1       30     GOA        1  NORTH GOA     10
1738  1738         1       30     GOA        1  NORTH GOA      8
1739  1739         1       30     GOA        1  NORTH GOA      7
1740  1740         1       30     GOA        1  NORTH GOA      9
1741  1741         1       30     GOA        1  NORTH GOA     17
1742  1742         0       30     GOA        1  NORTH GOA      0
1743  1743         1       30     GOA        1  NORTH GOA     15
1744  1744         1       30     GOA        1  NORTH GOA     20
1745  1745         1       30     GOA        1  NORTH GOA     13
1746  1746         1       30     GOA        1  NORTH GOA     11
1747  1747         1       30     GOA        1  NORTH GOA     14
1748  1748         1       30     GOA        1  NORTH GOA     12
1749  1749         2       30     GOA        2  SOUTH GOA     38
1750  1750         2       30     GOA        1  NORTH GOA     23
1751  1751         2       30     GOA        1  NORTH GOA     21
1752  1752         2       30     GOA        2  SOUTH GOA     24
1753  1753         2       30     GOA        2  SOUTH GOA     25
1754  1754         2       30     GOA        2  SOUTH GOA     26
1755  1755         2       30     GOA        2  SOUTH GOA     27
1756  1756         2       30     GOA        1  NORTH GOA     22
1757  1757         2       30     GOA        2  SOUTH GOA     28
1758  1758         2       30     GOA        2  SOUTH GOA     29
1759  1759         2       30     GOA        2  SOUTH GOA     30
1760  1760         2       30     GOA        2  SOUTH GOA     32
1761  1761         2       30     GOA        2  SOUTH GOA     34
1762  1762         2       30     GOA        2  SOUTH GOA     31
1763  1763         2       30     GOA        2  SOUTH GOA     33
1764  1764         2       30     GOA        2  SOUTH GOA     37
1765  1765         2       30     GOA        2  SOUTH GOA     35
1766  1766         2       30     GOA        2  SOUTH GOA     39
1767  1767         2       30     GOA        2  SOUTH GOA     36
1768  1768         2       30     GOA        2  SOUTH GOA     40

            AC_NAME  PC_NO    PC_NAME  PC_ID STATUS  Shape_Leng  Shape_Area  \
1728    Pernem (SC)      1  NORTH GOA   3001           0.755237    0.013574
1729        Mandrem      1  NORTH GOA   3001           0.495406    0.006856
1730       Bicholim      1  NORTH GOA   3001           0.468457    0.007355
1731          Tivim      1  NORTH GOA   3001           0.399552    0.005473
1732         Poriem      1  NORTH GOA   3001           0.792935    0.018949
1733         Valpoi      1  NORTH GOA   3001           0.987909    0.025777
1734         Siolim      1  NORTH GOA   3001           0.283071    0.003902
1735         Mapusa      1  NORTH GOA   3001           0.126692    0.001022
1736           Maem      1  NORTH GOA   3001           0.723505    0.007082
1737         Aldona      1  NORTH GOA   3001           0.315365    0.003188
1738      Calangute      1  NORTH GOA   3001           0.289556    0.002326
1739        Saligao      1  NORTH GOA   3001           0.297678    0.002770
1740       Porvorim      1  NORTH GOA   3001           0.229191    0.002380
1741      Sanquelim      1  NORTH GOA   3001           0.448772    0.006664
1742                     0              3000           0.408650    0.001439
1743      Cumbarjua      1  NORTH GOA   3001           0.418676    0.004692
1744          Priol      1  NORTH GOA   3001           0.421407    0.006155
1745       St. Cruz      1  NORTH GOA   3001           0.212894    0.002366
1746         Panaji      1  NORTH GOA   3001           0.087924    0.000424
1747      St. Andre      1  NORTH GOA   3001           0.289141    0.003614
1748       Taleigao      1  NORTH GOA   3001           0.123274    0.000586
1749      Sanvordem      2  SOUTH GOA   3002           0.943823    0.040153
1750        Marcaim      2  SOUTH GOA   3002           0.391918    0.003606
1751          Ponda      2  SOUTH GOA   3002           0.256856    0.001906
1752       Mormugao      2  SOUTH GOA   3002           0.071205    0.000294
1753  Vasco-Da-Gama      2  SOUTH GOA   3002           0.119683    0.000769
1754        Dabolim      2  SOUTH GOA   3002           0.174898    0.001079
1755       Cortalim      2  SOUTH GOA   3002           0.337799    0.004353
1756         Siroda      2  SOUTH GOA   3002           0.509781    0.010067
1757          Nuvem      2  SOUTH GOA   3002           0.337774    0.005293
1758       Curtorim      2  SOUTH GOA   3002           0.267130    0.003271
1759        Fatorda      2  SOUTH GOA   3002           0.113098    0.000527
1760       Benaulim      2  SOUTH GOA   3002           0.350522    0.003787
1761       Cuncolim      2  SOUTH GOA   3002           0.504972    0.006301
1762         Margao      2  SOUTH GOA   3002           0.139549    0.000679
1763        Navelim      2  SOUTH GOA   3002           0.208042    0.001471
1764      Curchorem      2  SOUTH GOA   3002           0.308988    0.004139
1765          Velim      2  SOUTH GOA   3002           0.447346    0.005114
1766        Sanguem      2  SOUTH GOA   3002           1.036581    0.041795
1767         Quepem      2  SOUTH GOA   3002           0.935493    0.015779
1768       Canacona      2  SOUTH GOA   3002           0.931135    0.028174

      Downloaded
1728         1.0
1729         1.0
1730         1.0
1731         1.0
1732         1.0
1733         1.0
1734         1.0
1735         1.0
1736         1.0
1737         1.0
1738         0.0
1739         1.0
1740         1.0
1741         1.0
1742         1.0
1743         1.0
1744         1.0
1745         1.0
1746         1.0
1747         1.0
1748         1.0
1749         1.0
1750         1.0
1751         1.0
1752         1.0
1753         1.0
1754         1.0
1755         1.0
1756         1.0
1757         1.0
1758         1.0
1759         1.0
1760         1.0
1761         1.0
1762         1.0
1763         1.0
1764         1.0
1765         1.0
1766         1.0
1767         1.0
1768         1.0

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ']

8
4 4 
2 2 4

3 5
2 3 3